[submodule "week3/3.2/workshop-rest"]
	path = week3/3.2/workshop-rest
	url = https://github.com/blueted2/utwente-soa-workshop-rest
[submodule "week3/3.1/workshop-json"]
	path = week3/3.1/workshop-json
	url = https://gitlab.utwente.nl/soa-course/workshop-rest
[submodule "week2/2.1/workshop-docker"]
	path = workshop-docker
	url = https://gitlab.utwente.nl/soa-course/workshop-docker
[submodule "week4/4.1/1/microservice-ecommerce"]
	path = week4/4.1/1/microservice-ecommerce
	url = https://github.com/amollimaye/microservices-ecommerce
[submodule "week4/4.1/2/microservice-ecommerce-2"]
	path = week4/4.1/2/microservice-ecommerce-2
	url = https://github.com/amollimaye/microservices-ecommerce-2
[submodule "week5/5.2/workshop-http"]
	path = week5/5.2/workshop-http
	url = https://gitlab.utwente.nl/soa-course/workshop-http
[submodule "week6/workshop-challenges"]
	path = week6/workshop-challenges
	url = https://gitlab.utwente.nl/soa-course/workshop-challenges
[submodule "week6/blog_service"]
	path = week6/blog_service
	url = https://gitlab.utwente.nl/soa-course/workshop-challenges
[submodule "week6/comment_service"]
	path = week6/comment_service
	url = https://gitlab.utwente.nl/soa-course/workshop-challenges
